<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">header</header>
      <section class="small-box--1">small box 1</section>
      <section class="small-box--2">small box 2</section>
      <section class="small-box--3">small box 3</section>
      <aside class="sidebar">Sidebar</aside>
      <main class="main">Main content</main>
      <footer class="footer">Footer</footer>
    </div>
  </body>
</html>
